.App {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Roboto;
  font-weight: 100;
  background-image: linear-gradient(to top, #849ac0 0%, #a6c1ee 100%);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

